.json-tree {

  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  &__sidenav {
    width: 310px;
  }

  &__sidenav-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-top: 20px;
  }

  &__menu-btn {
    margin-right: 10px;
  }

  &__virtual-scroll-container {
    height: calc(100% - 115px);
    overflow: auto;
  }

  &__leaf {
    padding-left: 24px;
  }

  &__expandable {
    display: flex;
  }

  &__node {
    display: flex;
    align-items: center;
    height: 40px;
    &:hover {
      background: #eaeaea8a;
    }
  }

  &__content {
    padding: 25px 3%;
  }

  &__row {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }


  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__right-icon {
    float: right;
    margin-right: 2%;
  }

  &__review {

  }

  &__search-options {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }
  &__options {
    display: flex;
    justify-content: space-between;
  }

  &__text-review {
    color: #000000 !important;
  }

  &--active {
    color: #1b14ff !important;
  }
}

