<div class="json-replace main-form">
  <div class="row">
    <div class="col-5">
      <div class="json-replace__header">
        File 1
      </div>
      <div class="json-replace__content">
        <button mat-raised-button class="btn-function"
                matTooltip="Upload a file"
                (click)="fileOne.click()">
          Upload
        </button>

        <input type="file" class="hidden" #fileOne
               id="file"
               (change)="handleFileInput($event, firstFileContent)"
               placeholder="Choose File">
        <mat-form-field style="width: 100%">
        <textarea matInput
                  [readOnly]="firstFileContent.isDisabled"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="10"
                  cdkAutosizeMaxRows="10000"
                  [formControl]="firstFileContent.formControl">

        </textarea>
        </mat-form-field>
      </div>

    </div>
    <div class="col-2 json-replace__functions">
      <button mat-raised-button color="primary" class="json-replace__btn-replace"
              matTooltip="Replace value of file 1 by file 2"
              (click)="replaceValue(firstFileContent, secondFileContent)">
        File 1 <- File 2
      </button>
      <button mat-raised-button color="primary" class="json-replace__btn-replace"
              matTooltip="Replace value of file 2 by file 1"
              (click)="replaceValue(secondFileContent, firstFileContent)">
        File 1 -> File 2
      </button>
    </div>
    <div class="col-5">
      <div class="json-replace__header">
        File 2
      </div>
      <div class="json-replace__content">
        <button mat-raised-button class="btn-function"
                matTooltip="Upload a file"
                (click)="fileTwo.click()">
          Upload
        </button>

        <input type="file" class="hidden" #fileTwo
               id="fileNew"
               (change)="handleFileInput($event, secondFileContent)"
        >

        <mat-form-field style="width: 100%">
        <textarea matInput
                  [readOnly]="secondFileContent.isDisabled"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="10"
                  cdkAutosizeMaxRows="10000"
                  [formControl]="secondFileContent.formControl"></textarea>
        </mat-form-field>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="json-replace__header">
        Original File
      </div>
      <div class="json-replace__content">
        <mat-form-field class="json-replace__result">
        <textarea matInput
                  [readOnly]="originalFileContent.isDisabled"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="10"
                  cdkAutosizeMaxRows="10000"
                  [formControl]="originalFileContent.formControl"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="col-6">
      <div class="json-replace__header">
        Result
        <button mat-raised-button *ngIf="fileResult">
          Download
        </button>
      </div>
      <div class="json-replace__content">
        <mat-form-field class="json-replace__result">
        <textarea matInput
                  [readOnly]="resultContent.isDisabled"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="10"
                  cdkAutosizeMaxRows="10000"
                  [formControl]="resultContent.formControl"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
