html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pink-background {
  background: linear-gradient(to right, #fe5d70, #fe909d);
}
.blue-background {
  background: linear-gradient(to right, #01a9ac, #01dbdf);
}
.green-background {
  background: linear-gradient(to right, #0ac282, #0df3a3);
}
.orange-background {
  background: linear-gradient(to right, #fe9365, #feb798);
}
.hidden {
  display: none;
}
.btn-upload {

}
.main-form {
  padding: 40px;
}
