html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pink-background {
  background: linear-gradient(to right, #fe5d70, #fe909d);
}
.blue-background {
  background: linear-gradient(to right, #01a9ac, #01dbdf);
}
.green-background {
  background: linear-gradient(to right, #0ac282, #0df3a3);
}
.orange-background {
  background: linear-gradient(to right, #fe9365, #feb798);
}
.json-tree {
  .mat-drawer-inner-container {
    overflow: hidden;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon {
  &__medium {
    font-size: 40px;
    width: 32px !important;
    height: 32px !important;
  }

  &--green {
    color: #00c20b;
    > svg {
      color: #00c20b;
    }
  }
  &--red {
    color: #c20004;
    > svg {
      color: #c20004;
    }
  }
}

.item {
  &--clickable {
    cursor: pointer;
  }
}

.hidden {
  display: none;
}
.main-form {
  padding: 40px;
}

.full-width {
  width: 100% !important;
}
a {
  cursor: pointer;
}
